################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frontend/package-lock.json
